.env
.bash_history
.python_history
.cache/
.pytest_cache
__pycache__
.dotnet/
.vscode-server
.local
.gitconfig
.venv
.ssh
htmlcov/
.coverage
.gnupg
requirements.txt
output/
.DS_Store

tests/test_storage/
tests/test_descriptor_generator/
tests/test_workspaces/
