UID=YOUR_UID
GID=YOUR_GID
POETRY_VERSION=1.8.4
DEV=true

API_PORT=8000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=dor_local
POSTGRES_HOST=db

INBOX_PATH=/data/inbox
STORAGE_PATH=/data/storage
WORKSPACES_PATH=/data/workspaces

POCKET_BASE_USERNAME=test@umich.edu
POCKET_BASE_PASSWORD=testumich
POCKET_BASE_URL="http://pocketbase:8080"
