UID=YOUR_UID
GID=YOUR_GID
POETRY_VERSION=1.8.4
DEV=true

API_PORT=8000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=dor_local
POSTGRES_HOST=db

STORAGE_PATH=
INBOX_PATH=
WORKSPACES_PATH=
FILESETS_PATH=/data/filesets

POCKET_BASE_USERNAME=test@umich.edu
POCKET_BASE_PASSWORD=testumich
POCKET_BASE_URL="http://pocketbase:8080"

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
