UID=YOUR_UID
GID=YOUR_GID
POETRY_VERSION=1.8.4
DEV=true

API_PORT=8000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=dor_local
POSTGRES_HOST=db

STORAGE_PATH=
INBOX_PATH=
WORKSPACES_PATH=

POCKET_BASE_API_KEY=
POCKET_BASE_URL=
POCKET_BASE_COLLECTION=